@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

html, body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), #211941), url("../images/simple-opt.gif") no-repeat center;
    background-size: cover;
}
.padding {
    padding-bottom: 2rem;
}
  /* Nav Area */
.nav-gradient {
    background: rgba(0,0,0,0.65);
}
.logo {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 2rem;
    padding: 0;
    color: #fff; 
}
.logo:hover {
    color: #6b6b6b;
    transition: all 0.4s ease;
}
.navbar {
   padding: 0.6rem;
}
.navbar-nav li a{
   margin-right: 2rem;
}
.nav-link {
   font-size: 1rem !important;
   color: #fff;
   letter-spacing: .25rem;
}
.nav-link:hover {
    color: #a5a3a7;
}
.fa-bars {
    color:#fff; 
    font-size:28px;
}
.btn-primary {
    background-color: #4c2596;
    color: #fff;
    letter-spacing: .25rem;
    border: 1px solid #4c2596;
    transition: all 0.4s ease;
}
.btn-primary:hover {
    border: 1px solid #a5a3a7;
    background-color: transparent;
    color: #ffffff;
}
.btn-primary:focus {
    background-color: transparent!important;
    box-shadow: none !important;
    border: 1px solid #fff !important;
}
/* End of Nav */
/* Form */
.form-container {
    width: 38%;
    min-height: 80%;
    padding: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    background-color: #f5f5f5d0;
    box-shadow: 0px 3px 10px #222;
}
.thank-you {
    font-weight: 400;
    letter-spacing: 0.1rem;
}
.thank-you-paragraph {
    font-size: 1rem;
}
.thank-you-paragraph span {
    color: #4c2596;
    font-weight: 500;;
}
.contact-btn:hover {
    background-color: #000;
    color: #fff;
}
/* End of Form */
/* Media queries */
@media (max-width: 992px) {
    .nav-list {
        align-items: flex-end;
    }
    .nav-link {
        margin-bottom: 1rem;
    }
}
@media (max-width: 767px) {
    .form-container {
        width: 80%;
    }
    .nav-list {
        align-items: center;
    }
    .nav-link {
        color: #fff;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    .btn {
        margin-left: 2rem;
    }
}