/*-- Font --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

/*-- Global --*/
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #222;
  scroll-behavior: smooth;
}
/* -- Padding Class -- */
.padding {
  padding-bottom: 2rem;
}

/*-- Navbar --*/
.logo {
   font-family: 'Herr Von Muellerhoff', cursive;
   font-size: 2rem;
   padding: 0;
   color: white; 
}
.navbar {
  padding: 0.6rem;
}

.navbar-nav li a{
  padding-right: 1rem;
}

.navbar-nav li a,
.nav-btn {
  font-size: 1rem !important;
  color: black;
  letter-spacing: .25rem;
  text-decoration: none;
}

.navbar-nav li a:hover {
    color: #a5a3a7;
}
.navbar-nav li.active a {
  color: #7d47e2;
  font-weight: bold;
}
.carousel-slide {
    min-width: 100%;
    min-height: 100%;  
}

.fa-bars {
    color:rgb(0, 0, 0); 
    font-size:28px;
}

.nav-gradient {
background: black;
background: -moz-linear-gradient(left, black 50%, white 50%);
background: -webkit-linear-gradient(left, black 50%, white 50%);
background: linear-gradient(to right, black 50%, white 50%);
}
/*-- Image Slider --*/

.main-left,
.main-right {
    min-height: 95vh;
    min-width: 50%;
}

.main-left {
    background: black;  
}

.slide-left {
    background: black;
    color: white;
}

.main-left .arrow-down a{
  opacity: 0;
  color: #ffffff;
  font-size: 4rem;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
  cursor: none;
}

.main-left .arrow-down a:hover a{
  text-shadow: 2px 2px #ffffff;
}

.main-right .arrow-up a{
  opacity: 0;
  color: black;
  font-size: 4rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  margin-bottom: 1rem;
  cursor: none;
}


.carousel-inner .carousel-item .heading-1 {
  font-size: 4rem;
  margin-top: 11.5rem;
}

.carousel-inner .carousel-item .heading-2 {
    font-size: 5rem;
    margin-top: 10rem;
  }

.carousel-inner .carousel-item .human {
  font-size: 4rem;
  margin-top: 8.5rem;
  }

.carousel-inner .carousel-item .character {
  font-size: 4rem;
  margin-top: 7.5rem;
}

.btn-primary {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  letter-spacing: .25rem;
}

.btn-primary:hover {
  background-color: #4c2596;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.nav-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    padding: 1rem 3rem;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-btn:hover {
  background-color: #4c2596;
  color: #ffffff;
  border: none;
  box-shadow: 0px 2px 2px rgb(155, 155, 155);
}

.main-right a {
  text-decoration: none;
}

@media (max-width: 1076px) {
  .carousel-inner .carousel-item .name {
    font-size: 5rem;
    margin-top: 6rem;
  }
  .carousel-inner .carousel-item .human {
    font-size: 4rem;
    margin-top: 8rem;
  }
  .carousel-inner .carousel-item .character {
    font-size: 4rem;
    margin-top: 4rem;
  }
}

@media (max-width: 992px) {
  .navbar-nav li a {
    color: #ffffff;
  }
  .nav-link {
    color: #ffffff;
  }
  .btn-home {
    color: black;
  }
  .carousel-inner .carousel-item .heading-1{
    margin-top: 17rem;
    font-size: 4.5rem;
  }

  .main-left .arrow-down a{
    opacity: 1;
    cursor: pointer;
  }

  .main-right .arrow-up a{
    opacity: 1;
    cursor: pointer;
  }

  .carousel-inner .carousel-item .name {
    font-size: 5rem;
    margin-top: 16rem;
  }
  .carousel-inner .carousel-item .human {
    font-size: 4rem;
    margin-top: 15rem;
  }
  .carousel-inner .carousel-item .character {
    font-size: 4rem;
    margin-top: 15rem;
  }
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item .heading-1{
    margin-top: 18rem;
    font-size: 4.5rem;
  }
  
  .carousel-inner .carousel-item .name {
    font-size: 5rem;
    margin-top: 14rem;
  }
  .carousel-inner .carousel-item .human {
    font-size: 4rem;
    margin-top: 12.9rem;
  }
  .carousel-inner .carousel-item .character {
    font-size: 4rem;
    margin-top: 14rem;
  }

}

@media (max-width: 576px) {
  .carousel-inner .carousel-item .heading-1 {
    margin-top: 14rem;
  }

  .carousel-inner .carousel-item .name {
    font-size: 4rem;
  }
  .carousel-inner .carousel-item .human {
    margin-top: 14rem;
    font-size: 3.05rem;
  }
  .carousel-inner .carousel-item .character {
    font-size: 3rem;
    margin-top: 14rem;
  }
}

@media (max-width: 325px) {
  .carousel-inner .carousel-item .human {
    margin-top: 12.9rem;
  }
  .carousel-inner .carousel-item .character {
    font-size: 3rem;
    margin-top: 10rem;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/